<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>PantherHackers - ZERO</title>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
	<script src="./js/custom.js"></script>
	<script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/custom.css">
	<link href='http://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="./images/icon.png"/>
	
</head>
<body ng-controller="mainController">
	<div class="wrapper">
		<div id="intro">
			<a href="./index.html">
				<image id='logo' class="image-responsive center-block" src="./images/logo.png" alt="PantherHackers Logo">
			</a>
			<a href="./index.html">
				<image id='zero' class="image-responsive center-block" src="./images/zero.png" alt="Event ZERO Logo">
			</a>
			<div class="row text-center">
				<div class="col-sm-4">
					<h3 id="time">5PM</h3>
				</div>
				<div class="col-sm-4">
					<h3 id="location">LIBRARY—CURVE</h3>
				</div>
				<div class="col-sm-4">
					<h3 id="date">9/1/15</h3>
				</div>
			</div>
		</div>
		<div ng-if="!isDeadline()" class="more my-warning">
			<p>The RSVP process will close at 10 AM on Tuesday, September 1st.</p>
		</div>
		<div ng-if="!isDeadline()" class="thumbnail" id="rsvp-form">
			<div ng-hide="doneSign()" id="sign-up">
				<h2>RSVP FORM</h2>
				<form action="">
					<div class="form-group">
						<label for="inputName">Name:</label>
						<input type="text" class="form-control" id="inputName" ng-model="$parent.name" ng-class="nameError" placeholder="ex: Bill Gates">
					</div>
					<div class="form-group">
						<label for="inputId">Student Email:</label>
						<input type="text" class="form-control" id="inputId" ng-model="$parent.campusId" ng-class="campusIdError" placeholder="ex: sjobs1@student.gsu.edu">
					</div>
					<div class="form-group">
						<label>How much coding experience do you have?</label>
						<div class="radio"> 
							<label for="f_no_experience">
								<input type="radio" name="experience" id="f_no_experience" ng-model="$parent.experience" value="none" ng-checked="true">
								None at all
							</label>
						</div>
						
						<div class="radio"> 
							<label for="f_some_experience">
								<input type="radio" name="experience" id="f_some_experience" ng-model="$parent.experience" value="some">
								A little bit
							</label>
						</div>
						
						<div class="radio"> 
							<label for="f_large_experience">
								<input type="radio" name="experience" id="f_large_experience" ng-model="$parent.experience" value="lots">
								A lot
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label for="will-sign-up">
								<input type="checkbox" id="will-sign-up"  ng-model="$parent.signUp" ng-checked="true">
								Sign me up for PantherHackers news!
							</label>
						</div>
					</div>
					<div class="text-center">
						<div ng-click="submit()" ng-disabled="isDisabled()" class="btn btn-default btn-lg btn-primary">RSVP FOR FREE FOOD!</div>				
					</div>
				</form>
			</div>
			<div id="result" ng-class="resultError" ng-bind-html="result"></div>				
		</div>
		<div ng-if="isDeadline()" class="more">
			<div class="thumbnail text-center">
				<p>We're sorry but RSVPs are not longer being accepted.</p>
			</div>
		</div>
		<div ng-if="doneSign()||isDeadline()" class="more">
			<div class="thumbnail text-center">
				<h2>WANT MORE?</h2>
				<br>
				<a href="http://pantherhackers.com/" class="btn btn-default btn-lg" role="button">CHECK US OUT!</a>
			</div>
		</div>
	</div>
	<div id="details">
		<div class="row text-center">
			<div class="col-sm-3">
				<div class="thumbnail">
					<h2>WHAT</h2>
					<p>
						Meeting ZERO is going to be our first meeting of the 2015 
						academic year. As a new student organization, we are 
						very excited about all the opportunities we can come 
						across and—of course—all the projects we'll 
						be able to tackle this year.
						<br><br>
						Meeting ZERO will give us the opportunity to talk about 
						what PantherHackers is going to strive forward during this 
						and the following years, as well as to 
						clarify doubts to new members and people interested 
						in our objective.
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<h2>WHEN</h2>
					<p>
						Tuesday, September 1st.
						<br>
						5 - 6 PM
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<h2>WHERE</h2>
					<p>
						Meeting ZERO will take place at Curve 
						(Collaborative University Research & 
						Visualization Environment), which is 
						located at the 2nd floor of Library South, GSU.
						<br>
						<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13269.227543656603!2d-84.3865843!3d33.7527348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5907e19d69cb36dd!2sGeorgia+State+University+Library!5e0!3m2!1sen!2sus!4v1440367486730" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<h2>FAQ</h2>
					<p>
						For questions please communicate with 
						us through <a href="mailto:clewis57@student.gsu.edu">clewis57@student.gsu.edu</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="more">
		<div ng-if="!doneSign()&&!isDeadline()" class="thumbnail text-center">
			<h2>WANT MORE?</h2>
			<br>
			<a href="http://pantherhackers.com/" class="btn btn-default btn-lg" role="button">CHECK US OUT!</a>
		</div>
	</div>
	<footer>
		<div class="footer center-block">
			<a href="http://pantherhackers.com/">
				<img src="./images/long-logo.png" alt="" class="logo-small center-block">
			</a>
			<p>Designed and Developed by PantherHackers @ GSU</p>
			<p>	
				<a href="https://www.facebook.com/PantherHackers"><i class="fa fa-facebook"></i></a> &nbsp; 
				<a href="https://twitter.com/PantherHackers"><i class="fa fa-twitter"></i></a> &nbsp; 
				<a href="https://instagram.com/pantherhackers/"> <i class="fa fa-instagram"></i></a>&nbsp;
				<a href="mailto:hello@pantherhackers.com"> <i class="fa fa-envelope-o"></i></a>
			</p>
		</div>
	</footer>
</body>
</html>